<app-navbar></app-navbar>
<div class="container">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <h1>Login</h1>

    <input type="text"
           name="username"
           id="username"
           placeholder="Username or email*"
           required
           [disabled]="isLoading"
           ngModel>

    <input type="password"
           name="password"
           id="passwordRegister"
           class="form-control"
           placeholder="Password*"
           ngModel
           [disabled]="isLoading"
           required>

    <p class="error-message"
       [style.visibility]="errorMessage ? 'visible' : 'hidden'">
      ❗{{errorMessage}}
    </p>

    <button type="submit"
            class="btn-white"
            id="submit"
            [disabled]="loginForm.invalid">
        <span *ngIf="isLoading" role="status">
          <span class="spinner">
            <span class="bounce1"></span>
            <span class="bounce2"></span>
            <span class="bounce3"></span>
          </span>
        </span>
      {{isLoading ? '' : 'Login'}}
    </button>

  </form>
</div>

