@import "~src/styles.scss";

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "header" "register";
  height: 100%;
  width: 100%;
}

app-navbar {
  grid-area: header;
  width: 100%;
}

.container {
  grid-area: register;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  border-radius: $border-radius;
  background-color: $foreground;

  h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin: 2rem 0 0 0;
  }
}

input {
  margin: 2rem 0 0.5rem 0;
}

button {
  margin: 1rem 0 2rem 0;
}

.error-message {
  margin: 1rem auto 1rem 0;
  color: $red;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > span {
  width: 10px;
  height: 10px;
  background-color: $white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
