<app-navbar></app-navbar>
<div class="container">
  <form (submit)="onRegister(registerForm)" #registerForm="ngForm">
    <h1>Register</h1>

    <input type="text"
           name="username"
           id="username"
           class="form-control"
           placeholder="Username*"
           required
           [disabled]="isLoading"
           ngModel>

    <input type="text"
           name="email"
           id="email"
           class="form-control"
           placeholder="Email*"
           required
           [disabled]="isLoading"
           ngModel
           email>

    <input type="password"
           name="password"
           id="passwordRegister"
           class="form-control"
           placeholder="Password*"
           ngModel
           [disabled]="isLoading"
           required>

    <p class="error-message"
       [style.visibility]="errorMessage ? 'visible' : 'hidden'">
      ❗️{{errorMessage}}
    </p>

    <button type="submit"
            class="btn-white"
            id="submit"
            [disabled]="registerForm.invalid">
        <span *ngIf="isLoading" role="status">
          <span class="spinner">
            <span class="bounce1"></span>
            <span class="bounce2"></span>
            <span class="bounce3"></span>
          </span>
        </span>
      {{isLoading ? '' : 'Register'}}
    </button>

  </form>
</div>

