@import "~src/styles";

:host {
  padding: 1.5rem;
}

.container, .empty-state {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;

  h1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem 0 0 0;
  }

  app-session:first-of-type {
    margin-top: 2rem;
  }
}

.empty-state {
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    height: auto;
    width: 12rem;
  }

  h1 {
    font-size: 2rem;
  }
}
