@import "~src/styles";

:host {
  padding: 1.5rem;
}

.container, .empty-state {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem 0 0 0;
  }

  .no-dashed-line:before {
    display: none;
  }

  ul {
    margin-top: 2rem;
    padding-left: 0.7rem;
    list-style: none;
    position: relative;

    &:before {
      content: '';
      width: 0;
      top: 9px;
      height: 100%;
      position: absolute;
      border-left: 4px dashed $white;
    }

    li {
      text-decoration: none;
      position: relative;
      margin-left: 30px;
      padding-bottom: 4rem;

      &:last-child > span {
        background: none;
      }

      span {
        width: 4px;
        height: 100%;
        background: $white;
        left: -30px;
        top: 4px;
        position: absolute;

        &:after {
          content: '';
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 6px solid $foreground;
          position: absolute;
          background: $white;
          left: -14px;
        }
      }
    }
  }
}

.empty-state {
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    height: auto;
    width: 12rem;
  }

  h1 {
    font-size: 2rem;
  }
}
