.header {
  display: flex;
  align-items: center;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > * {
  margin-right: auto;
}

.box:last-child > * {
  margin-left: auto;
}

h1 {
  font-size: 4.5rem;
  margin: 0;
}

.logo {
  height: 3.5rem;
  width: auto;
}
