<nav>
  <ul>
    <li><span>{{adminName}}</span></li>
  </ul>
  <span class="spacer"></span>
  <ul *ngIf="!isAuth">
    <li>
      <a [routerLink]="['/login']">Log in</a>
    </li>
  </ul>

  <ul *ngIf="isAuth">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/settings']">Settings</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/clients']">Heartbeat</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/register']">Register new admin</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="logout()">Log out</a>
    </li>
  </ul>
</nav>
