<div class="container" *ngIf="talk">

  <div class="header">
    <h1>{{talk.title}}</h1>
    <h3>{{talk.type}}</h3>
  </div>

  <div class="time">
    <h2>{{talk.fromTime | trimTime}} - {{talk.toTime | trimTime}}</h2>
    <span class="box" *ngIf="isNow()">NOW</span>
  </div>

  <div class="summary" ellipsis [ellipsis-content]="talk.summary">
  </div>

  <div class="speakers" #speakers>

    <div class="front">
      <app-speaker *ngFor="let speakerFront of speakersFront" [speaker]="speakerFront"></app-speaker>
    </div>

    <!--    <div class="back" [@fadeAnimation]="backAnimationState">-->
    <!--      <app-speaker *ngFor="let speakerBack of speakersBack" [speaker]="speakerBack"></app-speaker>-->
    <!--    </div>-->

    <!--    <app-speaker *ngFor="let speaker of speakersToShow"-->
    <!--                 [speaker]="speaker">-->
    <!--    </app-speaker>-->
  </div>

</div>
