<div class="container" *ngIf="talk">

  <div class="header">
    <h1><span>{{talk.title}}</span></h1>
    <h3>{{talk.type}}</h3>
  </div>

  <div class="time">
    <h2>{{talk.fromTime | trimTime}} - {{talk.toTime | trimTime}}</h2>
    <span class="box" *ngIf="isNow()">NOW</span>
  </div>

  <div class="summary" id="summary-text">
    <span>{{talk.summary}}</span>
  </div>

  <div class="speakers">
    <app-speaker *ngFor="let speaker of talk.speakers" [speaker]="speaker">
    </app-speaker>
  </div>

</div>
