@import "~src/styles";

.container {
  border-radius: $border-radius;
  background-color: $foreground;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  & > * {
    padding: 0 1.5rem;
  }
}

.header {
  display: block;
  background-color: $devoxx-orange;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-image: url("~src/assets/gradient.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 40% 0;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  margin: 2rem 0 1rem 0;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
  color: $blue;
}

h3 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  font-weight: normal;
  text-transform: uppercase;
}

.time {
  margin: 4rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    margin: 0;
  }

  .counter {
    color: darken($white, 20%);
    margin: auto 0 auto auto;

    &:after {
      content: '';
      margin-left: 0.5rem;
      background: url("~src/assets/users-solid.svg") no-repeat;
      height: 2.5rem;
      width: 2.5rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.box {
  font-size: 1.8rem;
  margin-left: 1rem;
  padding: 0.6rem;
  color: $blue;
  border-radius: $border-radius;
  border: 2px solid $blue;
}

.summary {
  flex-grow: 100;

  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.speakers {
  display: flex;
  flex-direction: row;

  app-speaker:last-child {
    margin-right: 0;
  }

  ngu-carousel {
    width: 100%;
  }

  ngu-tile {
    display: flex;
    align-items: center;
  }
}
