@import "~src/styles";

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 75% 25%;
  grid-template-areas: "header header" "talk timeline";
}

.header {
  grid-area: header;
  margin: 1rem 1rem 0 1rem;
}

.talk {
  grid-area: talk;
  margin: 1rem;
}

.timeline {
  grid-area: timeline;
  margin: 1rem 1rem 1rem 0;
  border-radius: $border-radius;
  background-color: $foreground;
}

.empty-state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-top: 0;
  }

  img {
    height: auto;
    width: 20rem;
  }
}
