<div class="container"
     [ngClass]="!(nextTalks && talkToShow) ? 'empty-container' : ''">
  <app-room-header
    [roomName]="schedule?.room.name"
    [time]="currentTime"
    [showTimeTravel]="showTimeTravel"
    (hideTimeTravel)="toggleTimeTravel()"
    class="header">
  </app-room-header>

  <div class="empty-state"
       *ngIf="!(nextTalks && talkToShow)">
    <img src="../../../../assets/ackbar.png" [alt]="">
    <h1>It's a wrap!</h1>
  </div>

  <div class="talk">
    <app-talk
      [talk]="talkToShow"
      [time]="currentTime"
      *ngIf="talkToShow">
    </app-talk>
    <div class="message"
         *ngIf="showMessage && message"
         [@SlideInOut]>
      <h2>{{message}}</h2>
    </div>
  </div>

  <app-timeline class="timeline"
                *ngIf="talkToShow && nextTalks"
                [talks]="nextTalks">
  </app-timeline>
</div>
