$background: rgb(23, 24, 28);
$foreground: rgb(58, 56, 55);
$white: #DFDFDF;
$devoxx-orange: #dd9933;
$blue: #3399dd;
$red: #dd4433;
$green: #ccdd33;
$border-radius: 0.5rem;

body, html {
  height: 100%;
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  color: $white;

  margin: 0;
  padding: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  white-space: nowrap;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0.15rem solid $foreground;
  border-radius: $border-radius;
  color: $white;
  text-align: center;
  transition: all 0.3s;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

  &:hover {
    color: $white;
    background-color: $foreground;
  }

  &:focus {
    outline: 0;
  }
}

ngu-tile > .tile {
  box-shadow: none !important;
}

.btn-white {
  color: $white;
  border-color: $white;

  &:hover:not([disabled]) {
    background-color: $white;
    color: $foreground;
  }

  &:disabled {
    cursor: default;
    color: darken($white, 20%);
    border-color: darken($white, 20%);
  }
}

input[type=number], textarea, form input {
  font-family: 'Roboto', sans-serif;
  border: 2px solid $white;
  border-radius: $border-radius;
  min-width: 6rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: $white;
  transition: ease-out 0.5s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 3pt 1pt $blue;
  }
}

form input[type=text], form input[type=password] {
  &.ng-touched.ng-invalid {
    border-color: $red;
  }

  &:valid {
    border-color: $green;
  }

  &::placeholder {
    color: darken($white, 20%);
  }
}
