<app-navbar [amountOfClients]="amountOfClients"
            [amountOfOnlineClients]="amountOfOnlineClients">
</app-navbar>

<div class="container">
  <div *ngFor="let client of clientsWithDetails">
    <div class="brand-card">
      <span>
        <img src="../../../../assets/times-solid.svg" alt="" (click)="unregisterClient(client)">
      </span>
      <div class="brand-card-header">
        <div class="monitor">
          <svg viewBox="0 0 500 200">
            <!-- START_Y, START_X, END_Y, END_X, -->
            <!-- flat line -->
            <polyline *ngIf="!client.isAlive" class="ekg red" points="486.6,113.8 328.2,113 4.3, 113"></polyline>
            <!-- heartbeat -->
            <polyline *ngIf="client.isAlive" class="ekg" points="486.6,113.8 328.2,113.8 310.3,132.3 296,70.7 246.8,127.4 241.6,120.2 233.9,166.4 227,27.6
							213.2,118.3 211.8,112.3 205.1,126.1 198.2,108.5 194.1,124.4 184.5,92.9 174.1,113 4.3,113 	"></polyline>
          </svg>
        </div>
      </div>
      <div class="brand-card-body">
        <p>{{client.client.room.name}}</p>
        <p>{{client.client.lastConnected | dateAgo}}</p>
      </div>
    </div>
  </div>
</div>
